#header {
  width: 100%;
  background-color: whitesmoke;
  font-family: sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.ping {
  color: teal;
  font-weight: 500;
}

.pong {
  color: lightslategray;
  font-weight: 600;
}

.ping-pong {
  color: darkslateblue;
  font-weight: 700;
}

#output-stream {
  background-color: white;
  border-radius: 15px;
  margin-top: 20px;
}

body {
  background-image: url(https://subtlepatterns.com/patterns/fabric_of_squares_gray.png);
}
